[include variables.cfg]
[include helper_functions.cfg]
[include hardware.cfg]
[include manager.cfg]
[include mmu.cfg]
# [include ]
# [include ]
[save_variables]
filename: ~/printer_data/config/Color_Chef/saved_variables.cfg #might try to change this to a dynamic location 

