[gcode_macro EXTRUDER_MANAGER]
variable_available_extruders: []
variable_extruder_count: 0
gcode:
    DETECT_EXTRUDER_STEPPERS
    CHANGE_MAX_TOOLS


[gcode_macro CHANGE_MAX_TOOLS]
gcode:
    {% set extruder_count = printer["gcode_macro EXTRUDER_MANAGER"].extruder_count %}

    #Change the value of the max tools to be the same as the extruder number
    SET_GCODE_VARIABLE MACRO=MAX_TOOLS VARIABLE=max_tools VALUE=extruder_count
    RESPOND MSG="Settings updated"


[gcode_macro DETECT_EXTRUDER_STEPPERS]
gcode:
    {% set extruder_steppers = [] %}
    
    {% for item in printer %}
        {% if item.startswith('extruder_stepper') %}
            {% set extruder_steppers = extruder_steppers + [item] %}
        {% endif %}
    {% endfor %}
    
    RESPOND MSG="Found {extruder_steppers|length} extruder steppers: {extruder_steppers|join(', ')}"
