# This file contains common pin mappings for the Fysetc ERB 2.0.
## *** THINGS TO CHANGE/CHECK: ***
## MCU paths / IDs                      [mcu] section
## Toolhead entry sensor pin            [filament_switch_sensor pre_extruder] section
## Toolhead sensor pin                  [filament_switch_sensor post_extruder] section

[mcu MUU]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6612C771F4C9B2B-if00


###############
## PIN ALIAS ##
###############

[board_pins MMU]
mcu: NIGHTCHEF
aliases:
    MMU_MOT0_UART=gpio11,
    MMU_MOT0_STEP=gpio10,
    MMU_MOT0_DIR=gpio9,
    MMU_MOT0_ENABLE=gpio8,
    MMU_MOT0_DIAG=gpio13,

    MMU_MOT1_UART=gpio17,
    MMU_MOT1_STEP=gpio16,
    MMU_MOT1_DIR=gpio15,
    MMU_MOT1_ENABLE=gpio14,
    MMU_MOT1_DIAG=gpio19,

    # Unused connectors on the erb2.0 board 
    # MMU_RRB=gpio21, 
    # MMU_ENCODER=gpio22,
    # MMU_SERVO=gpio23,
    # MMU_ENDSTOP=gpio24,
    # MMU_SENSOR=gpio25,

    MMU_FIl_PATH_SENSOR_BEFORE_0=gpio29,
    MMU_FIl_PATH_SENSOR_AFTER_0=gpio28,
    MMU_FIl_PATH_SENSOR_BEFORE_1=gpio27,
    MMU_FIl_PATH_SENSOR_AFTER_1=gpio26,
    
    #Optional
    MMU_FIl_PATH_SENSOR_EXIT=gpio18


# [controller_fan nightturtle]
# pin: nightturtle:MCU_SERVO
# heater:
# stepper: extruder_stepper left_filament_stepper, extruder_stepper right_filament_stepper


#########################
## Extruder and motors ##
#########################
[extruder_stepper T1]
extruder:
step_pin: nightturtle:MCU_MOT1_STEP
dir_pin: nightturtle:MCU_MOT1_DIR
enable_pin: !nightturtle:MCU_MOT1_ENABLE 
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 22.6789511
gear_ratio: 50:10

[tmc2209 extruder_stepper T1]
uart_pin: nightturtle:MCU_MOT1_UART
run_current: 0.6
stealthchop_threshold: 0
interpolate: True

[extruder_stepper T0]
extruder: 
step_pin: nightturtle:MCU_MOT0_STEP
dir_pin: !nightturtle:MCU_MOT0_DIR
enable_pin: !nightturtle:MCU_MOT0_ENABLE
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 22.6789511
gear_ratio: 50:10

[tmc2209 extruder_stepper T0]
uart_pin: nightturtle:MCU_MOT0_UART
run_current: 0.6
stealthchop_threshold: 0
interpolate: True