[gcode_macro SAVE_IF_DIRTY]
gcode:
    {% set manager = printer["gcode_macro PERSISTENT_TOOL_MANAGER"] %}
    {% if manager.dirty %}
        SAVE_TOOLS_TO_DISK
        SET_GCODE_VARIABLE MACRO=PERSISTENT_TOOL_MANAGER VARIABLE=dirty VALUE=False
        RESPOND MSG="Changes saved to disk"
    {% else %}
        RESPOND MSG="No changes to save"
    {% endif %}


[gcode_macro SAVE_TOOLS_TO_DISK]
gcode:
    {% set tools = printer["gcode_macro PERSISTENT_TOOL_MANAGER"].tools %}
    {% set defined_tools = printer["gcode_macro PERSISTENT_TOOL_MANAGER"].defined_tools %}
    {% set active_tool = printer["gcode_macro PERSISTENT_TOOL_MANAGER"].active_tool_id %}
    
    # Save to persistent storage
    SAVE_VARIABLE VARIABLE=persistent_tools VALUE="{tools|string}"
    SAVE_VARIABLE VARIABLE=persistent_defined_tools VALUE="{defined_tools|string}"
    SAVE_VARIABLE VARIABLE=persistent_active_tool VALUE="{active_tool|string}"

    RESPOND MSG="Tools saved to disk"



[gcode_macro LOAD_TOOLS_FROM_DISK]
gcode:
    {% set saved_vars = printer.save_variables.variables %}
    
    # Load from disk if available
    {% if 'persistent_tools' in saved_vars %}
        {% set saved_tools = saved_vars.persistent_tools %}
        SET_GCODE_VARIABLE MACRO=PERSISTENT_TOOL_MANAGER VARIABLE=tools VALUE="{saved_tools}"
        RESPOND MSG="Tools loaded from disk"
    {% endif %}
    
    {% if 'persistent_defined_tools' in saved_vars %}
        {% set saved_defined = saved_vars.persistent_defined_tools %}
        SET_GCODE_VARIABLE MACRO=PERSISTENT_TOOL_MANAGER VARIABLE=defined_tools VALUE="{saved_defined}"
    {% endif %}

    {% if 'persistent_active_tool' in saved_vars %}
        {% set saved_active = saved_vars.persistent_active_tool %}
        SET_GCODE_VARIABLE MACRO=PERSISTENT_TOOL_MANAGER VARIABLE=active_tool VALUE="{saved_active}"
    {% endif %}
    
    SET_GCODE_VARIABLE MACRO=PERSISTENT_TOOL_MANAGER VARIABLE=initialized VALUE=True