[gcode_macro DEFAULT_SETTINGS]
max_tools: 8

#Default values for tool creation
#Defines what the initial values are set as when creating a new tool

[gcode_macro DEFAULT_SETTINGS]
variable_default_temp: 220
variable_default_material: "PLA" #change this over to an array with multiple material
gcode:
    # This macro stores global variables
    RESPOND MSG="Global settings loaded"