######### Add this to print start!
# Auto-save before print starts
# [gcode_macro PRINT_START]
# gcode:
#     SAVE_IF_DIRTY 

#Value for the maximum tools, this is will be changed automatically
[gcode_macro MAX_TOOLS]
variable_max_tools: 8

#Default values for tool creation
#Defines what the initial values are set as when creating a new tool
[gcode_macro DEFAULT_SETTINGS]

variable_default_temp: 220
variable_default_material: "PLA" #change this over to an array with multiple material

###############################
## Filament Cutter variables ##
###############################

#Initial X and Y coords for the cutter block/actuator pin
#Use values where the tool head just touches the block/pin
variable_initial_cutter_block_location_x: 32.5
variable_initial_cutter_block_location_y: 100

#Final X and Y coords for the cutter block/actuator pin
#Use values where the cutter is fully actuated 
variable_final_cutter_block_location_x: 32.5
variable_final_cutter_block_location_y: 227

#Direction the head moves to cut 
#Might not use...

#Safe Z height to cut.
#If not needed leave at -1
variable_safe_z_height: 45 #test value for k1c with the creality hopper

#Amount of times to actuate the cutter
variable_cutter_attempts: 2

#Amount of filament to retract before cutting
variable_retract_before_cut:

#Amount of filament to push into the remaining filament before retracting completly
variable_push_before_retract:
